/* 
    Document   : estilos
    Created on : 27/08/2013, 10:07:29 PM
    Author     : Joel
    Description:
        Purpose of the stylesheet follows.
*/
.navbar-inner {
/*    color: #FFFFFF;*/
/*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    background-color: #1B69BD;
    *background-color: #1B69BD;
    background-image: -moz-linear-gradient(top, #4CB7E8, #1B69BD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4CB7E8), to(#1B69BD));
    background-image: -webkit-linear-gradient(top, #4CB7E8, #1B69BD);
    background-image: -o-linear-gradient(top, #4CB7E8, #1B69BD);
    background-image: linear-gradient(to bottom, #4CB7E8, #1B69BD);
    background-repeat: repeat-x;
    border-color: #1B69BD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CB7E8', endColorstr='#1B69BD', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}